* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Bungee Inline", cursive;
}

body {
  background-color: #f7941d;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffdf6;
  height: 250px;
}

#logo {
  width: 350px;
  margin-top: 200px;
}

#titleH1 {
  font-size: 150px;
  color: #f7941d;
}

#titleP {
  float: right;
  color: #f7941d;
}

#cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.cardItem {
  width: 400px;
  padding: 50px;
  display: none;
}

#beforeClick {
  font-size: 105px;
  padding: 50px;
  color: #fffdf6;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#cardPhrase {
  color: white;
  visibility: hidden;
}

#randomBtn {
  padding: 20px;
  width: 500px;
  border-radius: 300px;
  font-size: 50px;
  color: #f7941d;
  cursor: pointer;
  outline: none;
}

.pulsate-bck {
  -webkit-animation: pulsate-bck 3s ease-in-out infinite both;
  animation: pulsate-bck 3s ease-in-out infinite both;
}

#cardP {
  color: #fffdf6;
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 10px;
  color: white;
}

#orderNow {
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 15px;
}

@media (max-width: 1440px) {
  #titleH1 {
    font-size: 105px;
    color: #f7941d;
  }

  #titleP {
    float: right;
    color: #f7941d;
  }

  #logo {
    width: 300px;
    margin-top: 200px;
  }

  #beforeClick {
    font-size: 75px;
    padding: 50px;
    color: #fffdf6;
  }

  #randomBtn {
    padding: 15px;
    width: 500px;
    border-radius: 300px;
    font-size: 35px;
    color: #f7941d;
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 11px;
    color: white;
  }
}

@media (max-width: 1024px) {
  #logo {
    width: 250px;
    margin-top: 200px;
  }

  #titleH1 {
    font-size: 80px;
    color: #f7941d;
  }

  #titleP {
    float: right;
    color: #f7941d;
  }

  #cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
  }

  #beforeClick {
    font-size: 76px;
    padding: 50px;
    color: #fffdf6;
  }

  #randomBtn {
    padding: 15px;
    width: 500px;
    border-radius: 300px;
    font-size: 35px;
    color: #f7941d;
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-bottom: 100px;
    font-size: 11px;
    color: white;
  }
}

@media (max-width: 768px) {
  #logo {
    width: 210px;
    margin-top: 200px;
  }

  #titleH1 {
    font-size: 65px;
    color: #f7941d;
    margin-right: 40px;
  }

  #titleP {
    float: right;
    color: #f7941d;
    margin-right: 40px;
  }

  #cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
  }

  #beforeClick {
    font-size: 76px;
    padding: 50px;
    color: #fffdf6;
  }

  #randomBtn {
    padding: 15px;
    width: 500px;
    border-radius: 300px;
    font-size: 35px;
    color: #f7941d;
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-bottom: 100px;
    font-size: 11px;
    color: white;
  }
}

@media (max-width: 425px) {
  #banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffdf6;
    height: 110px;
  }

  #logo {
    width: 80px;
    margin-top: 80px;
    margin-right: 30px;
  }

  #titleH1 {
    font-size: 30px;
    color: #f7941d;
    margin-right: 30px;
  }

  #titleP {
    float: right;
    color: #f7941d;
    font-size: 10px;
    margin-right: 30px;
  }

  #cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 100px;
  }

  #cardPhrase {
    color: white;
    visibility: hidden;
    font-size: 7px;
  }

  #beforeClick {
    font-size: 50px;
    padding: 50px;
    color: #fffdf6;
  }

  #randomBtn {
    padding: 10px;
    width: 300px;
    border-radius: 300px;
    font-size: 20px;
    color: #f7941d;
    cursor: pointer;
  }

  #cardP {
    color: #fffdf6;
    margin-top: 10px;
    font-size: 8px;
  }

  footer {
    display: flex;
    display: inline-block;
    justify-content: center;
    margin-top: 300px;
    font-size: 9px;
    color: white;
  }

  #footerText {
    margin-left: 77px;
  }

  #orderNow {
    margin-bottom: 20px;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 9px;
  }
}

@media (max-width: 375px) {
  #banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffdf6;
    height: 110px;
  }

  #logo {
    width: 80px;
    margin-top: 80px;
    margin-right: 30px;
  }

  #titleH1 {
    font-size: 30px;
    color: #f7941d;
    margin-right: 30px;
  }

  #titleP {
    float: right;
    color: #f7941d;
    font-size: 10px;
    margin-right: 30px;
  }

  #cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 100px;
  }

  #cardPhrase {
    color: white;
    visibility: hidden;
    font-size: 7px;
  }

  #beforeClick {
    font-size: 50px;
    padding: 50px;
    color: #fffdf6;
  }

  #randomBtn {
    padding: 10px;
    width: 300px;
    border-radius: 300px;
    font-size: 20px;
    color: #f7941d;
    cursor: pointer;
  }

  #cardP {
    color: #fffdf6;
    margin-top: 10px;
    font-size: 8px;
  }

  footer {
    display: flex;
    display: inline-block;
    justify-content: center;
    margin-top: 300px;
    font-size: 9px;
    color: white;
  }

  #footerText {
    margin-left: 55px;
  }
}
